@charset "UTF-8";

html, body { max-width:100%; background-color:orange;}
html.no_scroll { overflow:hidden; padding:0 17px 0 0;}

//스킵 네이게이션
#skipNavigation a {
    position:absolute; top:-100px; left:0; z-index:1000; width:100%; border-bottom:1px solid #dbdbdb; background:#f8f7f3; line-height:50px;
    &:focus {top:0; text-align:center;}
}

/* 헤더 */
#header {
    width:100%; position:fixed; top:0; left:0;
    .header_wrap {
        height:90px; padding:0 0 0 80px; border-bottom:1px solid $gray5; background-color:$white;
        @include boxSizing;
        @extend %clearfix;
        #logo {float:left; padding:18px 0 0 35px;}
        #areaSelect {
            float:left; padding:29px 0 0 52px;
            @extend %clearfix;
            button {
                width:32px; height:32px; position:relative; text-indent:-9999px; float:left;
                @include boxSizing;
                @include borderRadius(100%);
                @include borderSet(1px, solid, $gray4);
                @include transition;
                &:after {
                    display:block; content:""; position:absolute; left:50%; top:50%; float:left;
                    @include arrowIcon(6px, 2px);
                    @include transition(border-color, .2s);
                }
                &.prev_btn {
                    &:after {@include transform(translate(-40%, -50%) rotate(45deg));}
                }
                &.next_btn {
                    &:after {@include transform(translate(-60%, -50%) rotate(-135deg));}
                }
                &:hover,
                &:focus {
                    border-color:#3669d6; background-color:$blue;
                    &:after {border-color:$white;}
                }
            }
            p {width:174px; height:32px; float:left; text-align:center; line-height:32px; font-size:20px; font-weight:$medium;}
        }
        .info_txt {
            float:left; padding:33px 0 0 43px; line-height:24px; font-weight:$medium;
            @extend %clearfix;
            img {width:21px; float:left;}
            .weather_txt {
                float:left; padding:0 10px 0 36px; background-image:url(../../images/layout/weather_icon01.gif);
                @include backgroundSolt(0, 50%);
            }
            .dust_wrap {
                float:left; padding:0 0 0 50px; position:relative;
                &:after {width:1px; height:14px; display:block; content:""; position:absolute; left:0; top:5px; background-color:$gray4;}
                svg {
                    position:absolute; top:4px; left:14px;
                    path {fill:#456cd1}
                    &.good path {fill:#456cd1}
                    &.normal path {fill:$green}
                    &.bad path {fill:$orange}
                    &.very_bad path {fill:$red}
                }
                span {letter-spacing:-2.5px;}
                em {font-size:16px; font-weight:$regular; color:$gray3; padding:0 0 0 5px;}
            }
        }
        .measurement_date {
            float:left; padding:33px 0 0 35px; line-height:24px; color:$gray3; font-size:14px;
            @extend %clearfix;
            dt {float:left; font-weight:$medium;}
            dd {float:left; padding:0 0 0 10px;}
            span {padding:0 0 0 7px;}
        }
        .header_util {
            float:right; margin:24px 25px 0 0;
            @extend %clearfix;
            #headerSearch {
                width:250px; height:42px; position:relative; float:left;
                input[type=text] {
                    width:100%; height:42px; padding:0 50px 0 20px; font-size:14px;
                    @include boxSizing;
                    
                    @include borderSet(1px, solid, $gray4);
                    @include borderRadius(42px);
                    
                }
                input[type=submit] {
                    width:24px; height:24px; position:absolute; right:15px; top:9px; text-indent:-9999px; background-image:url(../../images/layout/search_icon.gif); cursor:pointer;
                    @include backgroundSolt;
                    @include transition(background-image, .3s);
                    &:hover,
                    &:focus {background-image:url(../../images/layout/search_icon_over.gif);}
                }
            }
            .login_link {
                width:38px; height:38px; display:block; float:left; margin:2px 0 0 18px; text-indent:-9999px; background:url(../../images/layout/login_icon.png) 50% 50% no-repeat #525456;
                @include borderSet(1px, solid, #525456);
                @include boxSizing;
                @include transition;
                @include borderRadius(100%);
                &:hover,
                &:focus {border-color:#3669d6; background-color:$blue;}
            }
        }
    }
    #gnb {
        height:100%; position:fixed; left:0; top:0;
        .gnb_menu_btn {width:79px; height:90px; position:relative; border-right:1px solid $gray5; background-color:$white;}
        #gnbTxtOpen {
            width:25px; height:19px; position:absolute; top:36px; left:28px; text-indent:-9999px;
            &:hover span {width:25px;}
            &:before,
            &:after,
            span {
                width:100%; height:3px; display:block; content:""; background-color:$gray1; position:absolute; left:0;
                @include transition;
            }
            &:before {top:0;}
            &:after {top:16px;}
            span {width:19px; top:8px;}
        }
        
        //gnb 오픈
        &.nav_open {
            #gnbTxtOpen {
                &:before,
                &:after {background-color:$blue;}
                span {width:25px; background-color:$blue;}
            }
            nav {
                .gnb_depth01 {
                    > li {
                        > button,
                        > a {
                            height:70px; z-index:10;
                            div {@include translateY(5px);}
                            i {@include translateY(17px);}
                            .heavy_txt {
                                @include translateX(-12px);
                            }
                            .light_txt {
                                @include opacity(0);
                            }
                            &.active div {
                                @include translateY(0);
                            }
                        }
                    }
                }
            }
        }
        nav {
            height:calc(100% - 90px); background-color:$white; position:relative;
            &:after {width:1px; height:100%; display:block; content:""; background-color:$gray5; position:absolute; right:0; top:0; z-index:1;}
        }
        
        //1뎁스
        .gnb_depth01 {
            width:80px; overflow:hidden;
            > li {
                width:max-content;
                &:nth-of-type(1) > button,
                &:nth-of-type(1) > a {
                    i {background-image:url(../../images/layout/depth_icon01.png);}
                }
                &:nth-of-type(2) > button, &:nth-of-type(2) > a {
                    i {background-image:url(../../images/layout/depth_icon02.png);}
                }
                &:nth-of-type(3) > button, &:nth-of-type(3) > a {
                    i {background-image:url(../../images/layout/depth_icon03.png);}
                }
                &:nth-of-type(4) > button, &:nth-of-type(4) > a {
                    i {background-image:url(../../images/layout/depth_icon04.png);}
                }
                &:nth-of-type(5) > button, &:nth-of-type(5) > a {
                    i {background-image:url(../../images/layout/depth_icon05.png);}
                }
                &:nth-of-type(6) > button, &:nth-of-type(6) > a {
                    i {background-image:url(../../images/layout/depth_icon06.png);}
                }
                > button,
                > a {
                    width:100%; height:80px; display:block; position:relative;
                    @include transition;
                    div {
                        width:max-content;
                        @include transition(transform, .2s);
                        @extend %clearfix;
                    }
                    i {
                        width:80px; height:36px; float:left; display:block;
                        @include backgroundSolt(50%, 0);
                        @include translateY(12px);
                        @include transition(transform, .2s);
                    }
                    .heavy_txt {
                        width:170px; float:left; color:$gray2; font-size:15px; line-height:70px;
                        @include translateX(20px);
                        @include transition;
                    }
                    .light_txt {
                        width:80px; text-align:center; font-size:12px; color:$gray3; font-weight:$medium; position:relative; top:-20px;
                        @include transition;
                    }
                
                    //over
                    &:hover,
                    &:focus {
                        i {@include backgroundSolt(50%, -36px)}
                        p {color:$blue;}
                    }
                    //현재 페이지
                    &.active {
                        background-color:$blue; z-index:10;
                        @include boxShadow(0 0 15px -2px #323436);
                        i {@include backgroundSolt(50%, -72px)}
                        .light_txt,
                        .heavy_txt {color:$white;}
                    }
                }
            }
        }
        
        //2뎁스
        .gnb_depth02 {
            width:270px; height:100%; position:absolute; top:0; left:100%; background-color:$white; z-index:-1; padding:10px 0 0; font-size:15px; border-right:1px solid $gray5; letter-spacing:-.2px;
            @include boxSizing;
            > li {
                > a,
                > button {
                    width:100%; height:54px; line-height:54px; display:block; position:relative; padding:0 25px 0 20px; color:$gray2;
                    @include boxSizing;
                    @include transition(color, .2s);
                    i {
                        width:6px; height:10px; display:block; position:absolute; right:25px; top:22px;
                        @include transition;
                        &:before,
                        &:after {
                            width:8px; height:2px; display:block; content:""; background-color:$gray4; position:absolute; left:0;
                            @include transition(background-color, .2s);
                        }
                        &:before {top:2px; @include rotate(45)}
                        &:after {bottom:2px; @include rotate(-45)}
                    }
                    
                    //over
                    &:hover,
                    &:focus {color:$blue;}
                    
                    //현재 페이지
                    &.active {
                        color:$blue;
                        i {
                            &:before,
                            &:after {background-color:$blue;}
                        }
                        & ~ .gnb_depth03 {display:block;}
                    }
                }
                > button.active {
                    i {
                        top:20px;
                        @include rotate(90);
                    }
                }
            }
        }
        
        //3뎁스
        .gnb_depth03 {
            border-top:1px solid $gray5; border-bottom:1px solid $gray5; padding:15px 25px 15px 22px; background-color:$gray6; line-height:24px; letter-spacing:-.5px; overflow:hidden; display:none;
            li {padding:10px 0 10px 13px;}
            a {
                color:$gray2; position:relative;
                @include transition(color, .3s);
                &:before {
                    width:3px; height:3px; display:block; content:""; background-color:$gray2; position:absolute; left:-13px; top:6px;
                    @include transition(background-color, .2s);
                }
                
                //over
                &:hover,
                &:focus {
                    color:$blue;
                    &:before {background-color:$blue;}
                }
            }
        }
    }
}

